* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: sans-serif;

}

a{
  font-size: 14px;
}

p {
  font-size: 14px;
  color: gray;
  font-style: bold;
}

h4{
  font-size: 14px;
}

body{
  width: 100%;
  min-width: 100vh;
  background-color: #fefefe;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.obtenha{
  font-size: 14px;
  color: black;
}

.caixa{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  height: 100vh;
  background-color: #fefefe;

}

.telefone{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.telefone img{
  height: 38rem;
}

.continue{
  display: flex;
  text-align: center;
  justify-content: space-around;
  flex-direction: column;
  width: 45%;
  min-height: 34rem;
}

.grupo{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;
  padding: 1.3rem 0;
  margin-bottom: 13px;
  border: 1px solid lightgray;
}

.perfil {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-bottom: 1rem;
}

.perfil img{
    height: 6rem;
}

.grupo:nth-child(1){
  margin-top: 20%;
  min-height: 19rem;
}

.logo{
  height: 6rem;
}

.login {
  background-color: #0095f6; 
  border: none;
  border-radius: 4px;
  color: white;
  padding: 5px 16px;
  text-align: center;
  align-items: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  height: 2rem;
  cursor: pointer;

}

.logout{
  color: #0095f6;
  background-color: #ffffff;
  border: none;
  margin-top: 1rem;
  font-size: 14px;
}

.trocar {
  color: #0095f6;
}

.baixar{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1.3rem 0;
}

.download{
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items:  center;
  padding: 1rem;
}

.playstore{
  height: 60px;
}

.appstore{
  height: 60px;
}

.baixe{
  height: 3rem;
  width: 10rem;
}



@media (max-width: 1024px){
  .caixa{
    width: 90%;
  }
}

@media (max-width: 650px){
  .caixa{
    width: 90%;
  }

  .telefone{
    display: none;
  }

  .continue{
    width: 100%;
  }
}
